@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
root: {
    font-family: 'Anton', sans-serif;
}
body {
    background-image: url("/BurlapCoffee2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

.nameText {
font-size: 2rem;
}

.roastText {
font-size: 1.5rem;
 }

#heading {
    border-bottom: 1px solid grey;
    color: white;
    font-size: 6rem;
}
