@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 40% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent }

}
root {
    font-family: 'Anton', sans-serif;
}
#header {
    color: black;
    text-shadow: 3px 3px #666;
    /*!*background-image: url("coffeetop.png");*!*/
    /*background-position: bottom;*/
    /*background-size: 100%;*/
    /*background-color: #E6DDCC;*/
}
h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    animation:
            typing 3.5s steps(30, end);
}
#footer {
    /*background-image: url("coffeebottomb.png");*/
    /*background-size: 100%;*/
    /*background-color: #E6DDCC;*/
    padding-top: 0;
}
#main {
    /*background-color: #E6DDCC;*/
    padding-bottom: 10rem;
}
body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    background-image: url("sky.gif");
    background-attachment: fixed;
    background-size: 200vh;
    background-repeat: no-repeat;
    background-position: top right;
}
.container {
    min-width: 100%;
}
.nameText {
    font-size: 2rem;
    font-weight: bold;
}
.roastText {
    font-size: 1.5rem;
    color: #666;
    text-shadow: 1px 1px #FFF;
 }
/*.btn {*/
/*    background-color: darkblue;*/
/*}*/
.row {
    margin: 0;
}
label {
    text-shadow: 1px 1px #FFF;