@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
root {
    font-family: 'Anton', sans-serif;
}
body {
    background-image: url("/BurlapCoffee2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}
.container{
    min-width: 90%;
}
.nameText {
    font-size: 2rem;
    font-weight: bold;
}
.roastText {
    font-size: 1.5rem;
    color: #666;
    text-shadow: 1px 1px #FFF;

 }
.btn {
    font-size: 3rem;
}
#heading {
    color: white;
    margin-bottom: 2rem;
    text-shadow: 5px 5px #666}
.row {
    margin: 0;
}
label {
    text-shadow: 1px 1px #FFF;
}